.root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.mask {
  background: rgba(45, 45, 45, 0.56);
  padding: 16px;
}

.actions {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.description {
  position: absolute;
  top: 50%;
  z-index: 4;
}

.image_container {
  position: relative;
}

.btn {
  margin-right: 12px;
  cursor: pointer;
}

.centered {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}